<nav class="border-gray-200">
    <div class="flex flex-wrap items-center justify-between p-7">
        <a routerLink="/">
            <p class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black">TODO</p>
        </a>

        <div class="navbar-end">

            <button type="button" (click)="handleLogout()"
                class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                Logout
            </button>

        </div>
    </div>
</nav>
<div class="container mx-auto p-10 w-3/5 rounded-lg h-auto mt-10 border-2 border-black">
    <app-add *ngIf="todos" [todos]="todos"></app-add>
    <app-filter *ngIf="todos" [todos]="todos"></app-filter>
</div>